<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goal</title>
</head>

<body>
    <a href="{% url 'jeremiahscrumy:index' %}">About us</a>
    <form action="" method="POST">
        <Label>Goal name:
            <br>
            <input type="text">
        </Label><br>
        <label for="">User:
            <br>
            <select style="width:175px" name="" id="">
                <option value="">-------------------</option>
            </select>
        </label>
    </form>
</body>

</html>