<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        form {
            background-color: #e0e0e0;
            padding: 5px 20px 20px 20px;
        }

        button {
            margin-right: 10px;
        }

        span>a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <a href="{% url 'jeremiahscrumy:index' %}">About us</a>
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <span>Error logging in : (</span>
        {% endif %}
        <div class='container'><br>
            <label for='username'> Username:<br>
                <input type="text" name="username" id="username" placeholder="Enter username..." required>
            </label>
            <br><br>
            <label for='password'> Password:<br>
                <input type="password" name="password" id="password" placeholder="Enter password" required>
            </label>
            <br><br>
            <button type="submit">Login</button>
            <span class='container cancel'>
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw"><a href="#">Forgot Password?</a></span>
            </span>
        </div>
    </form>
</body>

</html>