<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <a href="{% url 'jeremiahscrumy:index' %}">About us</a>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button>Sign up</button>
    </form>
</body>

</html>